{{> head}}
{{> nabvar}} 
<div class="row">
    <div class="col">
        
    </div>
    <div class="col">
        <img src="assets/img/IMG_20170417_153340.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer}}